/*men styling*/

body {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", sans-serif;
  background:url('../image/bg05.jpg')  no-repeat;
  background-position: center;
  background-size: cover;
  height:100%;
}

.br_1024 {
  display: none;
}

.tablet-768-only {
  display:none;
}

.on-until-768 {
  display:block;
}

.br_on, .br_on_tablet, .br_on_md {
  display:none;
}

#wrapper {
padding-bottom:20vh;

}

#wrapper .question {
  margin-top:10vh;
  margin-bottom:2vh;
}

#wrapper .question h2 span{
  background: black;
  padding: 5px 10px;
  color:white;
  font-size:14px;
}

/*#wrapper ul.select {
  margin:20px auto;
  width:100%;
}

#wrapper ul.select li {
  display: inline-block;
  padding-right:20px;
}*/

.section {
  display: none;
  padding-bottom:40px;
  margin-top:40px;
}

.section h2 {
  color: #404146;

  font-size: 24px;
  text-align: center;
  padding:30px 0;
  text-decoration: underline;
}
.section ul {
  list-style-type: none;
}

.type h1 {
  font-size:1em;
}

.type .item {
  background:#fff;
  box-shadow:0px 3px 6px rgba(0, 0, 0, 0.6);
  margin:2vh auto;
  padding:20px;
  border-radius:8px;
}

.type h3 {
  font-size:0.8em;
  font-family: 'Sawarabi Gothic', sans-serif;
  font-style: italic;
  line-height:1.5em;
}
.type h6 {
  margin-top:10px;
}

.type h6 strong {
  text-decoration:underline;
}

.styling_hair {
  display: block;
}

/*.face_body {
  background: grey;
}

.mouth_beard {
  background: blue;
} */

.card-group > .card {
  margin:10px;
}

.card h5 {
  font-size:1em;
  font-weight:bold;
  text-decoration: underline;
  height:5vh;
}

.card .card-body p.card-text  {
  font-size:0.7em;
  word-break: break-word;
  height:5vh;
}

.card .card-footer .text-muted {
  font-size:0.7em;
}


.mens-product-select select {
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size:16px;
  padding: 12px;
  width: 100%;
  /*margin:0 auto;*/
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.mens-product-select::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.mens-product-select:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.mens-product-select select option {
  padding: 30px;
}
 @keyframes blink {
   0% {
     background-color: #464648;
  }
   10% {
     background-color: #464648;
  }
   11% {
     background-color: #343233;
  }
   29% {
     background-color: #343233;
  }
   30% {
     background-color: #464648;
  }
   50% {
     background-color: #343233;
  }
   45% {
     background-color: #464648;
  }
   50% {
     background-color: #343233;
  }
   100% {
     background-color: #464648;
  }
}

@media screen and (max-width:1024px) {

}


@media screen and (max-width: 992px) {
  .br_on_md {
    display: block;
  }
}

@media screen and (max-width: 768px) {

  .on-until-768 {
    display:none;
  }

  .tablet-768-only {
    display:block;
  }

  .br_on_tablet {
    display:block;
  }
  .br_on_md {
    display: none;
  }

  .card .card-body .card-title {
    font-size:0.9em;
  }

  .card .card-body p.card-text {
    height: 4vh;
    font-size:0.8em;
  }

  .card .card-footer .text-muted {
    font-size:0.6em;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .br_on_tablet {
    display:none;
  }

  .section {
    padding:1vh 30px;
  }
}

@media screen and (max-width: 414px) {


  .br_on {
    display:block;
  }

  .section {
    padding:1vh 30px;
  }

  .card .card-body p.card-text {
    height: 4vh;
    font-size:0.8em;
  }
}
