body {
  background:#000;
}

.br_on {
  display: none;
}



.banner {
  height: 100vh;
  min-height: 500px;
  background-image: url('../image/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar .logo {
  width: 200px;
}

.top-logo {
  width:25%;
  max-width:200px;
}



.banner .top_text {
  background:black;
  color: white;
  padding:5px 10px;
}



.area_one {
  background: #000;
}


.hair_care, .styling {
  height:40vh;
  background:#fff;
  flex-direction: column;
  padding: 10px 20px;
}

.area_two {
  background:#000;
  /*padding:20px;*/
}


.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


.footer {
  background:#1a2228;
}

.footer p a, .footer p {
  color:white;
  font-size:0.8em;
  text-align: right;
  padding-right:30px;
}

.footer p a {
  color:white;
  text-decoration: none;
}

.footer p a:hover {
  text-decoration: underline;
}





.page-top {
  text-align:right;
  text-decoration: none;
  margin:3vh 0;
}

.page-top a {
  color: black;
}

.shop {
  position: fixed;
  right: 40px;
  top: 20px;
  z-index: 999;
}

/*product_box*/
.product_title {
  height: 50%;
}

.product_title h2 {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
}

.area_two .hair_care {
  background:url("../image/product.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.area_two .styling {
  background:url("../image/infine.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hair_care .product_details, .styling .product_details {
  background:rgba(255,255,255,0.56);
  border:1px solid rgb(112,112,112);
  font-size: 0.8em;
  padding:10px;
}

.hair_care .product_link p, .styling .product_link p{
  background: rgb(19,38,38);
  background: linear-gradient(0deg, rgba(19,38,38,1) 0%, rgba(152,149,143,1) 100%);
  padding:15px 0;
  text-align: center;
}

.hair_care .product_link p a, .styling .product_link p a{
  color:white;


}


.ortoficcina-modal .mod_description {
  padding:10px 20px;
  /*border:1px solid #000;*/
  margin:4vh auto;
}


/*product_box*/

/*section-images*/
.sect001 {
  background:url('../image/sect-bg/sect029.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect002 {
  background:url('../image/sect-bg/sect011.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect003 {
  background:url('../image/sect-bg/sect019.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect004 {
  background:url('../image/sect-bg/sect022.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect005 {
  background:url('../image/sect-bg/sect012.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect006 {
  background:url('../image/sect-bg/sect018.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect007 {
  background:url('../image/sect-bg/sect023.xpng');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect008 {
  background:url('../image/sect-bg/sect026.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect009 {
  background:url('../image/sect-bg/sect028.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sect010 {
  background:url('../image/sect-bg/sect016.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.tile-wrapper {
    margin:0;
    padding:0;
    overflow: hidden;
    position: relative;
    height:35vh;
    flex-direction: column;
}
.link-to-modal {
    line-height: 0;
}
.link-to-modal img.show_modal, .link-to-modal img.purchase-items {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
     width: 100%;
    height: 100%;
    object-fit: cover;

}
.link-to-modal:hover img.show_modal { /* this line has been changed */
    -webkit-transform:scale(1.33); /* Safari and Chrome */
    -moz-transform:scale(1.33); /* Firefox */
    -ms-transform:scale(1.33); /* IE 9 */
    -o-transform:scale(1.33); /* Opera */
     transform:scale(1.33);
     -webkit-filter: brightness(50%);

}


.link-to-modal:hover:after {
    opacity:1;
}


.link-to-modal img.show_modal:hover {
    opacity: 1;
    background:#000;
}

.tile-wrapper .text-overlay, .purchase .text-overlay {
    position: absolute;
    /*width: 50%;*/
    height: 50%;
    overflow: auto;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.tile-wrapper .text-overlay h2 {
    color: white;
    font-size: 32px;
    line-height: 36px;
    /* margin: 0 0 10px; */
    font-family: 'Archivo Black', sans-serif;
}

.tile-wrapper .text-overlay h6 {
    color: #fff;
    font-size:24px;
    font-family:'游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;

}
.tile-wrapper .text-overlay p {
    color: white;
    font-size: 16px;
    margin-top:3vh;
}


.purchase {
  margin:0;
    padding:0;
    overflow: hidden;
    position: relative;
    height:35vh;
    flex-direction: column;
}

.purchase img {
  object-fit: cover;
}

.purchase .text-overlay {
  background:rgba(255,255,255,0.7);
  width:90%;
  margin-left:auto;
  margin-right:auto;
  color:#000;
  padding-top:2vh;
  padding-bottom:2vh;
}

.purchase .text-overlay h2 {
  font-family: 'Archivo Black', sans-serif;
}
.purchase .text-overlay h6 {
  font-size:18px;
  /*font-family:'游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;*/
}

.purchase .text-overlay p {
  margin-top:3vh;
}

.purchase .text-overlay .product_link p{
  background: rgb(19,38,38);
  background: linear-gradient(0deg, rgba(19,38,38,1) 0%, rgba(152,149,143,1) 100%);
  padding:30px 0;
  text-align: center;
  color:#fff;
}


/*modal*/
.modal-title {
  /*font-family: 'Archivo Black', sans-serif;*/
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight:bold;
}

.modal-body h5{
  text-decoration: underline;
  font-weight:bold;
  font-size:24px;
  text-align: center;
}

.modal-body h4 {
  text-align: center;
}

.modal-body h3 {
  font-weight:bold;
  text-decoration: underline;
}

.modal-body p {
  margin-left:20px;
}

.modal-body p.modal-text{
  color:black;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons .btn {
  width:95%;
  margin:10px auto;
}

.options_to_choose .btn {
  width:100px;
}

.options_to_choose p {
  text-align: center;
}

.options_to_choose p a {
  background: rgb(68,108,179);
  background: linear-gradient(0deg, rgba(68,108,179,0.01) 0%, rgba(73,114,182,1) 4%, rgba(192,255,255,1) 100%);
  text-decoration: underline;
  color: white;
  font-weight:bold;
}


.modal-footer a {
  color: white;
  padding:10px 20px;
  border-radius:10px;
  box-shadow:1px 1px 3px #000;
}

.modal-footer a.go_to_enquete_page {
  background: #bfbfbf;
}

.modal-footer a.go_to_ifing_beauty {
  background: rgba(68, 108, 179, 1);
}

.modal-footer a.go_to_enquete_page:hover {
  background: rgb(77,77,77);
  background: linear-gradient(0deg, rgba(77,77,77,1) 0%, rgba(173,173,173,1) 100%);
  text-decoration: underline;
  color: white;
  font-weight:bold;
}


.modal-footer a.go_to_ifing_beauty:hover {
  background: rgb(68,108,179);
  background: linear-gradient(0deg, rgba(68,108,179,0.01) 0%, rgba(73,114,182,1) 4%, rgba(192,255,255,1) 100%);
  text-decoration: underline;
  color: white;
  font-weight:bold;
}

/*agricosmetica*/
.agricosmetica-text {
  margin:4vh auto;
}

.agricostmetica-video {
  margin-bottom:4vh;
}


/*ortoficcina modal*/
.ortoficcina-text {
  margin-bottom:4vh;
}

/*bio-dynamic modal*/
.biodynamic .biodynamic_img {
  object-fit: cover;
  margin-top:auto;
  margin-bottom:auto;
}

.biodynamic {
  margin-bottom:4vh;
}

.biodynamic-text, .biodynamic .biodynamic_img {
  margin-top:4vh;
}

.img-bottom {
  margin-top:4vh;
}

/*essential oil*/
.essential-oil-text, .essential-oil-video {
  margin-top:4vh;
}

.essential-oil-video {
  margin-bottom:4vh;
}

/*glass_and_aluminum*/
.glass_and_aluminum_text {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-top:4vh;
}

.glass_and_aluminum_text h3 {
  font-size:34px;
  font-weight:bold;
  text-transform: uppercase;
}

.glass_and_aluminum_img {
  margin-top:5vh;
  margin-bottom:5vh;
}

/*stay-free*/
.stayfree_text, .stayfree_img {
  margin-top:4vh;
}

/*fair-trade*/
.fair-trade-img, .fair-trade-text {
  margin-top: 4vh;
}


/*less-packaging modal*/
.lessPackaging-text, .lessPackaging-img {
  margin-top:4vh;
}

.less_packaging_img {
  object-fit: cover;
  margin-bottom: auto;
  margin-top:auto;
}

.less_packaging_img img {
  margin:0 auto;
}

/*SDGs*/
.SDGS_text, .SDGS_img {
margin-top:4vh;
}


/*PETA*/
.peta-img, .peta-text {
  margin-top:4vh;
}





@media screen and (min-width: 1024px) {
  .section-box, .section-box .light-dark {
    height:30vh;
  }
}


@media screen and (max-width: 992px) {
  .section-box, .section-box .light-dark {
    height:40vh;
  }


  .section-box .link_to{
    position:absolute;
    bottom:15px;
  }

  .section-box h2, .section-box h3, .new_section h2, .new_section h3 {
    text-align: center;
    color: #fff;
    font-size:1.25em;
  }
}



 @media screen and (max-width: 768px) {
  .banner .top_text {
    font-size:0.7em;
  }

  .hair_care, .styling {
    height:40vh;
  }

  .hair_care .product_details p , .styling .product_details p {
    font-size:0.7em;
  }

  .section-box, .area_two .styling, .area_two .hair_care {
    /*max-width: calc(100% - 2em)!important;*/
    width: 100%;
    margin: 0;
  }

  .glass_and_aluminum_img img {
    margin-bottom:3vh;
  }

  .area_two {
    padding:0;
  }

  .area_three .ortoficcina img {
    margin:2vh 0;
  }
 }

@media screen and (max-width: 575.98px) {
  .br_on {
    display: block;
  }

  .modal-body h5{
    line-height:1.5em;
  }

  .modal-body p.modal-text{
    padding:5px 10px;
    font-size:0.9em;
  }

  .ortoficcina {
    margin-bottom: 3vh;
  }

  .less_packaging_img {
    margin-bottom:3vh;
  }


}


@media screen and (max-width: 480px) {



  .logo {
    width:140px;
  }

  .banner {
    min-height:100vh;
  }
  .banner .top_text {
  background:black;
  color: white;
  padding:5px 10px;
  font-size:0.55em;
  }


  .hair_care, .styling {
   height:40vh;
  }

  .area_two .hair_care, .area_two .styling {
    max-width: 100% !important;
  }



  .hair_care .product_link, .styling .product_link {
    margin-bottom:auto;
    margin-top:auto;
  }

  .hair_care .product_link p, .styling .product_link p {
    font-size: 0.8em;
    padding:5px;
  }

  .container-fluid .section-box h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size:1.7em;
  }

  .container-fluid .section-box h3 {
    font-size:1.2em;
    font-weight:bold;
  }

  .shop {
    width:127px;
    height:72px;
    right:10px;
  }

  .modal-body h5 {
    font-size:1em;
  }

  .modal-body p.modal-text {
    font-size:0.8em;
  }

  .new_section .youtube {
    text-align:left;
  }

  .youtube {
    font-size:0.8em;
  }

  .new_section .youtube strong {
    width:300px;
  }

  .youtube-link {
    width:120px;
  }


  .area_three .ortoficcina img {
    margin:2vh 0;
  }
}

 @media screen and (max-width: 414px) {
  .section-box, .section-box .light-dark {
    height:35vh;
  }
  .section-box p.link_to{
    position:absolute;
    bottom:10px;
    font-size:0.75em;
  }

}


