body {
  font-family: "Montserrat", "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", sans-serif;
  background:url('../image/infine.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height:100%;
}

#wrapper {

  height:100%;
  align-content: center;
  padding-bottom:20vh;
}

#wrapper h2.title {
  margin:3vh 30px;
  color: white;
  text-align:center;
  font-weight:bold;
}


.left-sect {
  background: linear-gradient(#b9d7e2 0%, #8ab7ef 100%);
  box-shadow: 0 3px 6px rgba(0,0,0,0.6);
  border-radius: 10px;
  padding:10px 5px 30px;
}

.left-sect .left-inner h6 {
  text-decoration: underline;
  font-size:1em;
  margin-top: 20px;
}

#wrapper ul.select, #wrapper ul.choose_type {
  margin:20px auto;
  width:100%;
  list-style-type: none;
}

#wrapper ul.select li, #wrapper ul.choose_type li {
  padding-right:20px;
}

.design {
  display: block;
}

.section, .section01 {
  display: none;
  padding-top:5vh;
}

.balm, .soft {
  display: block;
}


.section h2, .section01 h2 {
  color: #404146;
  font-size: 24px;
  /*text-align: center;*/
  padding:30px 0;
  text-decoration: underline;
}

.section h4, .section01 h4{
  text-align: center;
  margin-bottom:5vh;
  line-height:1.5em;
}

.section h4 span, .section01 h4 span{
  font-size:0.75em;
  text-align:center;
  background:white;
  padding:5px 10px;
  box-shadow:1px 1px 3px rgba(0,0,0,0.8);
}

.infine {
    margin-bottom:2vh;
  }

.infine h2 {
  color: #404146;
  font-size: 12px;
  text-align: left;
  text-decoration: none;
  padding:30px 10px 0 10px;
  font-style: italic;
}

.infine h3 {
  color: #000;
  font-size: 24px;
  text-align: left;
  text-decoration: none;
  padding-left: 10px;
  font-family: 'DDINRegular';
}

.section ul {
  list-style-type: none;
}



.drop-down-text p, .type h6, .category-text h6{
  color:white;
}

.drop-down-text p span, .type h6 span, .category-text h6 span{
  background:black;
  padding:5px 10px;
}

.category-text h6 {
  margin-top:3vh;
  margin-bottom:2vh;
}


.drop-down-select select, .category-select select, .type-select select {
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size:16px;
  padding: 12px;
  width: 100%;
  /*margin:0 auto;*/
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.drop-down-select::before, .category-select::before, .type-select::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.drop-down-select:hover::before, .category-select:hover::before, .type-select:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.drop-down-select select option, .category-select select option, .type-select select option {
  padding: 30px;
}

.box {
  padding:2vh auto;
}

.description-text {
  background:rgba(255,255,255,0.8);
  padding:2vh 0 1vh;
  margin-bottom:2vh;
  border:1px solid rgba(105,105,105,0.5);
  position:relative;
}

.description-text h3 {
  font-size:1.25em;
  font-weight:bold;
  padding-bottom:3px;
  border-bottom:3px double rgba(105,105,105,0.9);
}

.description-text p {
  padding-left:10px;
}

.description-text p i {
  padding-right:5px;
}

.description-text p.p-space-bottom {
  margin-bottom:3vh;
}

.description-text p.p-footer {
  position:absolute;
  bottom:-15px;
  right:10px;
  font-size:10px;
}

.footer {
  background:#1a2228;
}

.footer p a, .footer p {
  color:white;
  font-size:0.8em;
  text-align: right;
  padding-right:30px;
}

.footer p a {
  color:white;
  text-decoration: none;
}

.footer p a:hover {
  text-decoration: underline;
}


@media screen and (max-width: 768px) {
  #wrapper ul.select li, #wrapper ul.choose_type li {
    display:column;
  }

  .box {
    padding:0;
  }

}


@media screen and (max-width: 480px) {
  #wrapper ul.select li, #wrapper ul.choose_type li {
    display:column;
  }

  #wrapper h2.title {
    font-size: 24px;
  }

}


@media screen and (max-width: 375px) {
  .drop-down-text p span, .type h6 span, .category-text h6 span {
    font-size:0.8em;
  }

  #wrapper h2.title {
    font-size: 28px;
  }


  .drop-down-select select, .category-select select, .type-select select {
    font-size:0.9em;
  }

  #wrapper h2.title {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  .description-text p.p-space-bottom {
    font-size:0.8em;
    padding-left:0;
  }

  .description-text p.p-footer {
    font-size:8px;
  }

}
